.header, .header:not(:hover){
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(121,9,34);
    background: linear-gradient(150deg, rgba(121,9,34,0.8434543395310306) 37%, rgba(0,212,255,0.8603082721153001) 100%);
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    column-gap: 50vw;
    align-items: center;
    backdrop-filter: blur(8px);
}

.header:hover {
    height: 70px;
    transition: 500ms;
    box-shadow: 0 5px 5px -2px rgba(34, 60, 80, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.header:not(:hover), .headerBtn > button {
    transition: 500ms;
    font-size: 16px;
    padding: 4px;
}

.headerBtn > button {
    background: rgba(84, 6, 23, 0.84);
    border: 0;
}

.header:hover > .actionPart > .headerBtn > button, .header:hover {
    font-size: 22px;
    padding: 8px;
}

.header:hover img {
    width: 45px;
}

.header:hover .actionPart > img {
    padding: 0.5vw;
    width: 10vw;
    -webkit-user-drag: none;
}

.headerBtn > button:hover, .actionPart > img:hover {
    transition: 500ms;
    box-shadow: 0 -5px 9px -2px rgba(34, 60, 80, 0.6);
    background-color: rgb(0, 151, 173);
    border: 0;
}

.headerBtn > button:not(:hover), .header:hover img, .header:not(:hover) img, .actionPart > img:not(:hover) {
    transition: 500ms;
}

.headerBtn a, .headerBtn a:not(:hover) {
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 151, 180);
    margin: 1.5vh;
    border-radius: 4px;
    transition: 400ms;
}

.headerBtn a:hover {
 transition: 400ms;
    background-color: rgba(210, 0, 46, 0.84);
}

.headerBtn > div {
    cursor: pointer;
    text-align: center;
    max-height: 50vh;
    overflow-y: scroll;
    background-color: rgba(180, 180, 180, 0.89);
}

.headerBtn > div::-webkit-scrollbar {
    display: none;
}
.actionPart {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8vw;
}
.actionPart > img {
    width: 8vw;
    border-radius: 2px;
    cursor: pointer;

}