.backgroundImage {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: brightness(30%) grayscale(100%);
    -webkit-backdrop-filter:brightness(30%) grayscale(100%);
}

@media only screen and (max-device-width: 1920px) {
    .backgroundImage {
        background-attachment: scroll;
    }
}

.movieDetailsContainer {
    color: white;
    padding-top: 80px;
    backdrop-filter: brightness(30%) grayscale(100%);
    -webkit-backdrop-filter:brightness(30%) grayscale(100%);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 5vh;
}

.title, .phRate, .posterAndLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 5px;
    row-gap: 5px;
}


.title > span {
    font-size: 50px;
}

.posterAndLink {
position: relative;
    width: 100%;
}

.posterAndLink > .officialWeb, .posterAndLink > .officialWeb:not(:hover){
    color: #dadada;
    position: absolute;
    top: 50%;
    right: 15%;
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(192, 0, 40, 0.84);
    padding: 1vh;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px rgba(182, 182, 182, 0.2) inset;
    transition: 500ms;
}

.posterAndLink > .genres {
    position: absolute;
    top: 40%;
    left: 15%;
}

.posterAndLink > .officialWeb:hover {
    transition: 500ms;
    color: white;
    background-color: rgba(1, 188, 225, 0.84);
    box-shadow: 0 0 16px 10px rgba(0, 0, 0, 0.52) inset;
}

.phRate img {
    width: 25vw;
    box-shadow: 0 0 10px 3px rgba(142, 0, 32, 0.47);
    margin: 1vh;
}

.phRate span {
    padding: 0.5vw;
    border-radius: 5px;
}

.relBud {
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    box-shadow: 0 0 10px 9px rgba(0, 212, 255, 0.2);
}

.rating {
    cursor: default;
}

.releaseDate > span {
    color: rgb(0, 151, 180);
    font-weight: bold;
}

.runtime > span {
    color: white;
    font-weight: bold;
}

.budget, .releaseDate, .runtime {
    text-align: center;
    color: rgba(225, 225, 225, 0.88);
    padding: 1vh;
    border-radius: 5px;
    background-color: rgba(54, 54, 54, 0.6);
    backdrop-filter: blur(2px);
    width: 100%;
}

.budget > span {
    color: rgba(192, 0, 40, 0.84);
    font-weight: bold;
}

.overview {
    background-color: rgba(0, 0, 0, 0.71);
    padding: 10vh;
    width: 100%;
    cursor: default;
}

.overview > div {
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 0 0 10px 9px rgba(0, 212, 255, 0.2);
}