body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    background-clip: padding-box;
}

body::-webkit-scrollbar-thumb:hover{
    background: grey;
}

body::-webkit-scrollbar-track {
    background: transparent;
}